body {
	background: #66B8DC url(images/background.png) repeat-x;
	font-size: 12px;
	font-family: Arial,Sans-Serif;
	text-align: center;
	margin-top: 10%;
}

h1 {
	margin: 0px;
	margin-bottom: 20px;
}

h4 {
	font-size: 16px;
}

a {
	color: #09c;
	text-decoration: none;
	font-weight: bold;
}

input[type=submit] {
	width: 150px;
	height: 38px;
	font-size: 23px;
}

#mess {
	color: red;
	margin-top: 20px;
	font-weight: bold;
}

#help {
	width: 800px;
	display: none;
	margin-left: auto;
	margin-right: auto;
}

#txtUrlOrg {
	margin-bottom: 20px;
	padding: 8px 10px;
	border: 1px solid #999;
	outline-width: 0;
	border-radius: 5px;
	font-size: 18px;
	font-family: Helvetica, Sans-serif;
	width: 500px;
}

#txtUrlOrg:focus {
	border: 1px solid #3BA3ED;
	box-shadow: 0px 0px 7px #3BA3ED;
}

#square {
	position: relative;
	z-index: 10;
	padding: 16px;
	width: 100%;
	margin-left: -24px;
	margin-right: auto;
}

#transparency {
	background-color: #FFF;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.3;
}

#title {
	padding: 8px 15px;
	font-size: 50px;
	font-family: Helvetica, Arial, Sans-serif;
	font-weight: bold;
	color: #333;
	outline: none;
	text-shadow: 0 1px 0 #fff;
}